<header>
  <div class="header__container">
    <a routerLink="/dashboard">
    <img class="header__logo" src="../../../assets/media/Logo/logo_transparent_cropped.png" alt="BookShare logo">
    </a>
    <div class="header__logged">
      <p>Welcome!</p>
      <button class="header__logos" (click)="navigate()">
        <img class="logo" src="../../../assets/media/icons8-libro-abierto-64.png" alt="book logo">
      </button>
      <button class="header__logos" (click)="logout()">
        <img class="logo" src="../../../assets/media/icons8-salida-64.png" alt="logout icon">
      </button>
    </div>
  </div>
</header>
