@import "../../../styles.scss";

.landing__container{
  @include background;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;

  .landing__general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    .landing__logo{
      width: 320px;
      height: auto;
    }

    .landing__subtitle{
      color: $turquoise;
      font-size: 40px;
      font-weight: bold;
      cursor: default;
    }
  }

  .landing__register-signIn{
    margin-top: 20px;

    .landing__signIn{
      width: 78px;
      height: 35px;
      background: #F4EBEB;
      border: 0.5px solid #252424;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      margin-right: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      outline: none;
      cursor: pointer;

      &:hover{
        background-color: #ecdada;
      }
    }

    .landing__register{
      width: 78px;
      height: 35px;
      background: #F4EBEB;
      border: 0.5px solid #252424;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      &:hover{
        background-color: #ecdada;
      }
    }

    .landing__popup-login{
      position: relative;
      margin-top: 20px;
      width: 200px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 0.5px solid #252424;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #F4EBEB;

      .popup__login{
        height: 20px;
        width: 80%;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 0.5px solid #252424;
        outline: none;
      }

      .popup__submit{
        width: 70px;
        height: 25px;
        background: #F4EBEB;
        border: 0.5px solid #252424;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;


        &:hover{
        background-color: #ecdada;
        }
      }
    }
  }
  .hideLogin{
    left: 210px;
  }

  .displayLogin{
    left: -20px;
  }

  .hideRegister{
    left: 410px;
  }

  .displayRegister{
    left: -20px;
    top: -172px;
  }
}


