<div class="landing__container">
  <div class="landing__general">
    <a routerLink="/dashboard">
    <img class="landing__logo" src="../../assets//media/Logo/logo_transparent_cropped.png" alt="BookShare logo">
    </a>
    <p class="landing__subtitle">· · · Sharing is caring · · ·</p>

  </div>
  <div class="landing__register-signIn">
    <button class="landing__signIn" type="button" (click)="changeClassLogin()">Sign in</button>
    <button class="landing__register" type="button" (click)="changeClassRegister()">Sign up</button>
    <form
      class="landing__popup-login hideLogin"
      [ngClass]="{displayLogin: statusLogin, hideLogin: !statusLogin}"
      >
      <input class="popup__login" type="email" placeholder="Email" [formControl]="email">
      <input class="popup__login" type="password" placeholder="Password" [formControl]="password">
      <button class="popup__submit" type="button" (click)="sendLoginInfo()">Submit</button>
    </form>
    <form
      class="landing__popup-login hideRegister"
      [ngClass]="{displayRegister: statusRegister, hideRegister: !statusRegister}"
      [formGroup]="registerForm">
      <input class="popup__login" type="email" placeholder="Email" formControlName="email">
      <input class="popup__login" type="password" placeholder="Password" formControlName="password">
      <button class="popup__submit" type="button" routerLink="/profile" (click)="sendRegisterInfo()">Register</button>
    </form>
  </div>
</div>
