PORT=<YOUR PORT>
DDBB_URL=<"YOUR DDBB">
LOCALHOST=<"YOUR LOCALHOST">
GENERAL_SEARCH_URL=<"YOUR GENERAL SEARCH URL FROM API">
TITLE_SEARCH_URL=<"YOUR TITLE SEARCH URL FROM API">
AUTHOR_SEARCH_URL=<"YOUR AUTHOR SEARCH URL FROM API">