<app-header></app-header>
<main>
  <div class="false-nav-bar"></div>
  <section class="profile__user-info">
    <form class="profile__details-container" [formGroup]="updateBookForm">
      <div class="profile__picture-container">
        <img class="profile__picture" [src]="bookCover" alt="book cover"/>
        <input type="file" #covers (change)="selectImage($event)" *ngIf="bookLender === userId">
        <button class="profile__picture-update" *ngIf="bookLender === userId" (click)="covers.click()">Update cover</button>
      </div>
      <div class="profile__details-form" >
        <button
        class="details__update-btn"
        type="button"
        (click)="updateInfo(updateBookForm.value)"
        *ngIf="bookLender === userId">
        Update info
      </button>
        <label for="title">Title:</label>
        <input id="title" type="text" formControlName="title"/>
        <label for="author">Author:</label>
        <input id="author" type="text" formControlName="author_name"/>
        <label for="year">Publish year:</label>
        <input id="year" type="text" formControlName="first_publish_year"/>
        <label for="description">Description:</label>
        <textarea id="description" type="text" cols="30" rows="10" formControlName="description"></textarea>
      </div>
    </form>
  </section>
  <section class="profile__own-books">
  <h2 class="books__title">OTHER USERS ALSO BORROWED</h2>
    <app-modal></app-modal>
    <div class="books-display">
      <div class="own-books__container" *ngFor="let book of allBooks | async">
        <img class="own-books__cover" src={{book.covers}} alt="book cover">
        <p>{{book.title}}</p>
        <p>{{book.author_name}}</p>
        <p>Available/not</p>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
