@import "../../styles.scss";

.landing__container{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon__profile{
  width: 50px;
}

.landing__logo{
  width: 307px;
  height: auto;
}

.landing__subtitle{
  color: $turquoise
}

.landing__search-tab{

}

