<app-header></app-header>
<section class="profile__container">
  <section class="profile__user-info">
    <div class="profile__picture-container">
      <div class="profile__picture-frame">
        <img class="profile__picture" src="../../assets/media/394-3947083_round-profile-picture-png-transparent-png.png" alt="profile"/>
      </div>
      <button class="profile__picture-update" >Update profile pic</button>
    </div>
    <article class="profile__details-container">
      <form class="profile__details-form" [formGroup]="updateDetailsForm">
        <button
        class="details__update-btn"
        type="button"
        (click)="updateDetails(updateDetailsForm.value)">
        Update info
      </button>
        <label for="nickname">Nickname:</label>
        <input id="nickname" type="text" formControlName="nickname"/>
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name"/>
        <label for="dob">Date of birth:</label>
        <input id="dob" type="text" formControlName="dob"/>
        <label for="city">City:</label>
        <input id="city" type="text" formControlName="city"/>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email"/>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password"/>
        <br>

      </form>
      <ul class="profile__details-list">
        <li>Books to lend:</li>
        <li>Books borrowed:</li>
      </ul>
    </article>
  </section>
  <section class="profile__own-books">
    <h2 class="books__title">YOUR BOOKS</h2>
    <app-modal></app-modal>
    <button class="books__add--btn" (click)="showNewBookDialog()">
      <img class="books__add" src="../../assets/media/icons8-libro-abierto-64 (1).png" alt="add book icon">
    </button>
    <div class="books-display">
      <div class="own-books__container" *ngFor="let book of books">
        <img class="own-books__cover" src={{book.covers}} alt="book cover">
        <p>{{book.title}}</p>
        <p>{{book.author_name}}</p>
        <p>Available/not</p>
      </div>
    </div>
  </section>
  <section class="profile__own-books">
    <h2 class="books__title">YOUR BORROWED BOOKS</h2>
    <div class="books-display">
      <div class="own-books__container" *ngFor="let book of books">
        <img class="own-books__cover" src={{book.covers}} alt="book cover">
        <p>{{book.title}}</p>
        <p>{{book.author_name}}</p>
        <p>Available/not</p>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
