/* You can add global styles to this file, and also import other style files */
$red: #D5441C;
$rose: #E68F77;
$turquoise: #9DD5CB;
$white: #F8F5F5;
$white_input: #F4EBEB;
$black: #252424;

body{
  margin: 0;
  padding: 0;
}
