<header>
  <div class="header__container">
    <img class="header__logo" src="../../../assets/media/Logo/logo_transparent_cropped.png" alt="BookShare logo">
    <div *ngIf="!isLogged" class="header__login-container">
      <input class="header__login" type="text" placeholder="Username">
      <input class="header__login" type="text" placeholder="Password">
      <button class="header__submit" type="submit" (click)=changeLogin()>Sign in</button>
    </div>
    <div *ngIf="isLogged" class="header__logged">
      <p>Welcome, NICKNAME</p>
      <button class="header__user-logo" (click)=changeLogin()>
        <img class="user-logo" src="../../../assets/media/icons8-libro-abierto-64.png" alt="book logo">
      </button>
    </div>
  </div>
</header>
